:root {
    --dark1-bg-color: #222831;
    --dark2-bg-color: #393E46;
    --second-bg-color: #00ADB5;
    --main-bg-color: #00FFF5;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--dark1-bg-color);
    background: url("fondo.jpg") no-repeat center center/cover;
    /* min-height: 100vh; */
}
.section {
    /* height: 100vh; */
    background-color: var(--dark2-bg-color);
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    margin: auto;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
}

.titulo {
    /* background-color: var(--main-bg-color); */
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}
.titulo button{
   /*  margin-left: 50px; */
    border: 1px solid transparent;
    padding: 8px;
    font-size: 16px;
    border-radius: 15px;
    background-color: rgb(241, 157, 0);
    color: white;
    letter-spacing: 3px;
}
.titulo button:hover{
    color: white;
    background-color: transparent;
    border-color: rgb(241, 157, 0);
    transition: all .3s ease;
    cursor: pointer;
}
.titulo h2 {
    letter-spacing: 4px;
    font-size: 34px;
    word-spacing: 8px;
    
}

.botones {
    /* background-color: red; */
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    justify-content: space-around;
    padding: 20px;
    height: 100px;
    margin: 5px;

}

.botones button {
    border: 2px solid transparent;
    padding: 8px;
    background-color: var(--second-bg-color);
    color: white;
    font-size: 18px;
    border-radius: 15px;
    margin: 5px;
    transition: all .3s ease;

}

.botones button:hover{
    background-color: transparent;
    border-color: var(--main-bg-color);
    color: var(--main-bg-color);
    cursor: pointer;
}

.grabando{
    color:rgb(199, 24, 24) !important;
    font-size: 26px !important;
    font-weight: 600;
    transition: all .3s ease;
}
.texto {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

textarea {
    box-sizing: border-box;
    padding: 10px;
    width: 80%;
    height: 300px;
    resize: none;
    background-color: var(--dark1-bg-color);
    color: white;
    border-radius: 20px;
    font-size: 20px;
    border-color: var(--main-bg-color);
}


/*=========MODAL=========*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(21, 82, 100, 0.733);
    /* transform: scale(0); */
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.modal__content {
    background-color: white;
    border-radius: 15px;
    width: 400px;
    height: 420px;
    padding: 30px;
    color: var(--dark1-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal__content p{
    font-size: 20px;
    margin-bottom: 20px;
}
.modal__content table{
    font-size: 16px;
}
.modal__content table td{ 
    margin: auto;
    font-size: 18px;
    text-align: center;
}
.modal__content button{
    margin: auto;
    width: 40px;
    margin-top: 30px;
    padding: 3px;
}
.modal__content button:hover{
    color: rgb(241, 157, 0);
    
}

.show {
    /* transform: scale(1); */
    opacity: 1;
    visibility: visible;
}

/*========= TEXTO ======*/

.section .textoP{
    display: flex ;
    flex-direction: column ;
    color: white;
    padding: 50px;
    text-align: justify;

}
.section .textoP p{
    font-size: 18px;
    margin-bottom: 20px;
}

/*========== RESPONSIVE DESIGN ======*/
@media (max-width: 923px) {

    .botones{
     width: 100%;
     margin-bottom: 85px;
    }
    .titulo{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 100%;
        /* background-color: red; */
    }
    .titulo button{
        max-width: 200px;
        margin-top: 10px;
    }
   /*  textarea{
        width: 100%;
    } */
   
}

@media (max-width: 380px) {

    .modal__content{
        width: 90%;
        height: 70%;
    }
  
}